.forget{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #38AC91;
}
.welcome{
     color: #FFFFFF;    
    display: flex;
    flex-direction: column;
    text-align: center;
   
    
}
.greeting{
    font-style: syne;
    font-size:40px ;
    margin-top:200px;
}
.paragraph{
    font-size:20px ;
}


.forget-page{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0  ;
    background: #F5F5F5;
    height: 100%;
}

.forget-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    
}

.forget-text{
    color: #36AE8B;
    font-size: 40px;
    font-family: syne;
    align-items: center;
    line-height: 51px;
    margin-top: 200px;
    width: 500px;
    letter-spacing: 1px;
    
   
   
 
}

.forget-text1{
    font-size:20px;
    font-family: syne;
    align-items: center;
    line-height: 0px;
    margin-top: 70px;
   
}

.forget-submit-containerf{
    margin:auto;
    margin-top: -180px;

}
.forget-input img{
   
    margin-left: 11px;
    margin-top: 10px;
    margin-bottom: -5px;
    width: 6%;
    
   
}
.forget-submitf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    margin-top: -70px;
    color: #E4E7E6;
    background: #38AC91;
    border-radius: 47px;
    font-family: syne;
    font-size: 24px;
    cursor: pointer;
    

}
.forget-input input{
    margin:  15px;
    height: 33px;
    width: 400px;
    border: none;
    margin-left: 48px;
    background:#E4E7E6;
    margin-top: -35px;
    
    
}



.forget-inputs {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 52%;
    gap: 10px;
    margin-top: 50px;
    border-radius: 12px;
    border: solid #38AC91;
    background:#E4E7E6;
    
}
.rectangle {
    height: 40px;
    width: 120px;
    background-color:#49B891;
    rotate: 40deg;
   margin-top: 60px;
   margin-left: 70%;
}

.triangle-left {
 width: 0;
  height: 0;
  border-top: 150px solid #49B891;
  border-left: 120px solid transparent;
 
  margin-left: 88%;
}
.circle {
    width: 200px;
    height:145px;
    border-radius: 0 150px 0 0;
    background-color:  #49B891;
    
  }