.signup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.welcome{
     color: #FFFFFF;    
    display: flex;
    flex-direction: column;
    text-align: center;
   
    
}
.greeting{
    font-style: syne;
    font-size:40px ;
    margin-top:200px;
}
.paragraph{
    font-size:20px ;
}


.reset-page{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0  ;
    background: #F5F5F5;
    height: 100%;
}

.reset-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    
}

.reset-text{
    color: #36AE8B;
    font-size: 50px;
    font-weight: 200;
    font-family: syne;
    align-items: center;
    line-height: 51px;
    margin-top: 250px;
}

.reset-inputs{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 3%;
    gap: 50px;
    margin-top: 55px;
    
}


.reset-submit-container{
    margin:auto;
    margin-bottom: 100px;

}
.reset-input img{
   
    margin-left: 11px;
    margin-top: 8px;
    margin-bottom: -5px;    
   
}

.reset-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 55px;
    color: #E4E7E6;
    background: #36AE8B;
    border-radius: 47px;
    font-family: syne;
    font-size: 24px;
    cursor: pointer;
    margin-top: -220px;
    

}
.reset-input input{
    margin:  15px;
    height: 35px;
    width: 420px;
    border: none;
    margin-left: 18px;
    background:#E4E7E6;
    margin-top: 10px;
    
}



.reset-input {
    
    align-items: center;
    height: 45px;
    background:#E4E7E6;
    width: 650px;
    padding-bottom: 12px;
    margin: -2px;
    border-radius: 10px;
    border: solid #36AE8B;
    gap: 2px;
    
}
.rectangle {
    height: 40px;
    width: 120px;
    background-color:#49B891;
    rotate: 40deg;
   margin-top: 60px;
   margin-left: 70%;
}

.triangle-left {
 width: 0;
  height: 0;
  border-top: 150px solid #49B891;
  border-left: 120px solid transparent;
 
  margin-left: 88%;
}
.circle {
    width: 200px;
    height:145px;
    border-radius: 0 150px 0 0;
    background-color:  #49B891;
    
  }