.box {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #38AC91;
  z-index: 90;
}

.box__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.box__logo  {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;

  margin-left: 22px;
}

.spacer {
  flex: 1;
}

.box_navigation-items h4 {
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 70%;
  color: white;
  width: 140px;
 
 }
.profile-picture {
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 15px;
  border: solid #38AC91;
  margin-right: -92px;
  
}

.user_Dashboard {
  flex: 1;
  background-color: FDFEFF;
  padding: 3%;
  width: 80%;
  background: rgb(252, 250, 250);
  border-radius: 14px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.user_Dashboard_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-top: -2%;

  text-decoration-skip-ink: none;
  padding-bottom: 13px;

}

.myprofile1{
  margin-right: 10px;
  font-weight: bold;
  color: #38AC91;
  text-decoration: underline #38AC91;
}
.updateprofile1{
  margin-left: 10px;
  font-weight: bold;
  text-decoration: underline #000000;
}
.myprofile1,
  .updateprofile1{
    cursor: pointer;
  }
.info-column {
  display: flex;
  flex-direction: column;
  align-items: center;
} 


.profile-picture1 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: solid #38AC91;
}
 h3 {
  margin-top: 1%;
  margin-bottom: 2%;
 }

p {
  /* margin: 0; */
  margin-bottom: 1%;
  font-size: 122%;
  
  
}

.profile-line {
  border: none;
  border-top: 1px solid #dbd4d4;
  margin-left: 1%;
  width: 45%;
 
}
.profile-picture-container {
  position: relative;

}
.user-location{
  margin-top: -0px;
  margin-bottom: 52px;
  text-align: center;
}

img{
  margin-right: 12px;
  /* margin-bottom: 1%; */

}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 10;
  background-color: #fffbfb;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.dropdown-item img {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}
.dropdown{
  margin-right: 100px;

}