.signup{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  
}
.welcome{
   color: #FFFFFF;    
  display: flex;
  flex-direction: column;
  text-align: center;
 
  
}
.greeting{
  font-style: syne;
  font-size:40px ;
  margin-top:200px;
}
.paragraph{
  font-size:20px ;
}


.ver-page{

  display: grid;
  place-items: center;
  background: #F5F5F5;
  height: 100%;
}

/* .header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  
} */

.ver-text1{
  font-size: 18px;
  font-weight: 200;
  font-family: syne;
  align-items: center;
  line-height: 51px;
  margin-top: -200px;
 

}



.rectangle {
  height: 40px;
  width: 120px;
  background-color:#49B891;
  rotate: 40deg;
 margin-top: 60px;
 margin-left: 70%;
}

.triangle-left {
width: 0;
height: 0;
border-top: 150px solid #49B891;
border-left: 120px solid transparent;

margin-left: 88%;
}
.circle {
  width: 200px;
  height:145px;
  border-radius: 0 150px 0 0;
  background-color:  #49B891;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -22%;
  
}

.h2 {
  margin-bottom: 10px;
  
}

.ver-page h3 {
  color: #49B891;
  margin-top: 100px;
  font-size: 44px;

}

.input-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -190px;
 
}



button {
  padding: 10px 20px;
  font-size: 22px;
  color:white;
  width: 55%;
  height: 45px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 100px;
}

button:disabled {
  background-color:#38A899;
  cursor: pointer;
  
}
.resend{
  cursor: pointer;
  margin-top: auto;
  font-size: 20px;
  margin-top: -200px;
  color: #36AE8B;
}
